.huge-button {
  /*display: block !important;*/
  text-transform: none !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.big-button {
  /*display: block !important;*/
  text-transform: none !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

/*.question-block {
  display: block !important;
  height:  8em !important;
}*/

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}

h5 h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.goal-link {
  color:  red;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}